@keyframes fadein {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
@-o-keyframes fadein {
    from {
        opacity:0
    }
    to {
        opacity: 1
    }
}

* {box-sizing: border-box}
a {outline:none}
a img {outline:none}
img {border:0}
a:focus {outline:none}
a:active {outline:none}

body {background-color:#fff; margin:0; padding-top: 132px; -webkit-transition:all 0.3s ease; transition:all 0.3s ease; animation: fadein 2s; -moz-animation: fadein 2s; -webkit-animation: fadein 2s; -o-animation: fadein 2s; font-family:"Raleway",Arial,sans-serif; font-size:21px; font-weight:lighter }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code, del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, legend, label {border: 0; font-size: 100%; vertical-align: baseline; margin: 0; padding: 0; }

h1,
.h1,
h1 strong {font-family:"Raleway Black",Arial,sans-serif;font-size:42px;font-weight:900;}



@media (max-width: 768px) {
	body {
	    font-size:17px;
	}
}