.nav-up {top: -132px}
.hold {margin-right:auto;margin-left:auto;overflow:hidden;zoom:1;position:relative;min-height:1px}

header,
main,
footer {width:100%;}

header {width: 100%; height: 132px; background: #fff; top: 0; transition: top 0.2s ease-in-out; position: fixed; padding-top:37px; padding-bottom:27px; z-index:9999 }
header .logo {width:201px;height:68px;margin-left:3px;}
header nav button {display:none}
header nav ul {margin:10px 13px 0;padding:0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius: 5px}
header nav ul li {float:left}
header nav ul li a {color:#000;display:block;font-size:15px;text-transform:uppercase;padding:23px 13px;text-decoration:none}
header nav ul li a:hover {color:#97052B}

footer {background:#000;color:#fff;padding:35px 0 25px;}
footer div.hold {overflow:hidden;}
footer div.hold:nth-child(1) {margin-bottom:65px}
footer div .address,
footer div .social,
footer div .about {float:left;}
footer div .address {width:50%;padding-right:7px;}
footer div .address address {font-size:14px;font-style:normal;padding-left:38px;background:url(../../img/address_map_pin.png) no-repeat left center;}
footer div .address address a {color:#fff;text-decoration:none}
footer div .social {width:30%;padding-right:7px;padding-right:7px;}
footer div .social ul {margin:0;padding:0}
footer div .social ul li {float:left}
footer div .social ul li a {width:30px;height:30px;display:block;text-indent:-9999px;background-image:url(../../img/social_buttons.gif);background-repeat:no-repeat;}
footer div .social ul li a:hover {opacity:.4;-webkit-transition: opacity ease-in-out .15s; -o-transition: opacity ease-in-out .15s; transition: opacity ease-in-out .15s;}
footer div .social ul li.menu-item-8 a {background-position:0 0}
footer div .social ul li.menu-item-9 a {background-position:-30px 0}
footer div .social ul li.menu-item-10 a {background-position:-60px 0}
footer div .social ul li.menu-item-11 a {background-position:-90px 0}
footer div .social ul li.menu-item-12 a {background-position:-120px 0}
footer div .social ul li.menu-item-13 a {background-position:-150px 0}
footer div .about {width:20%;padding-left:7px;}
footer div .about p {font-size:14px;margin:0}
footer div .about p a {color:#fff;text-decoration:none}
footer div .about p a:hover {text-decoration:underline}
footer h4 {text-transform:uppercase;font-weight:400;margin-bottom:15px}
footer p {font-size:12px;margin-bottom:18px}
footer.entry-footer {display:}



@media (min-width: 1201px) {
	.hold {
		width:1170px;
		padding-left:15px;
		padding-right:15px;
	}
}



@media (max-width: 1200px) {
	.hold {
		width:100%;
		padding-left:15px;
		padding-right:15px;
	}
}



@media (max-width: 992px) {
	.hold {
		width:100%;
		padding-right:15px;
		padding-left:15px
	}
	header .logo {margin-left:0}
	header nav ul {margin-right: 0}
	header nav ul li a {padding-right:10px;padding-left:10px;font-size:11px}
	header nav ul li:last-child a {border:0;padding-right:0}
}



@media (max-width: 768px) {
	header nav {padding-bottom:10px}
	header nav button {display:block; position: absolute; top: 15px; right: 15px; border: 0; text-indent: 200%; overflow: hidden; background: rgba(255,255,255,.8) url(http://i.imgur.com/vKRaKDX.png) center no-repeat; border: 1px solid #ddd; border-radius: 3px; background-size: 80%; width: 30px; height: 30px; outline: none; transition: all 400ms ease;margin-top:10px}
	header nav button.expanded {transform: rotate(90deg); background-color: transparent; border: 0}
	header nav,
	header nav ul,
	header nav ul li {width:100%;}
	header nav ul {background-color:#272727;margin:0;padding:0 15px;display:none;overflow:hidden;-webkit-box-shadow: 0px 5px 5px 0px rgba(153,153,153,1); -moz-box-shadow: 0px 5px 5px 0px rgba(153,153,153,1); box-shadow: 0px 5px 5px 0px rgba(153,153,153,1);}
	header nav ul:before {width: 0;height: 0;content:'';border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom:5px solid #272727;position:absolute;right:25px;margin-top:-5px}
	header nav ul li {width:100%;}
	header nav ul li a {font-size:18px;color:#fff;border-bottom:1px solid #fff}
	header nav ul li:last-child a {border:0;}
	
	footer div.hold:nth-child(1) {margin-bottom:0}
	footer div .address,
	footer div .social,
	footer div .about {width:100%;margin-bottom:45px;}
}



@media (max-width: 400px) { 
	footer div .social ul li a {
	    zoom: 1.47;
	}
}